.container {
    max-width: 500px;
    border-radius: 10px;
    background: #fff;
    transition: all 2.5s;
    /* overflow: hidden; */
    padding: 5px;
    margin: 20px;
    gap: 10px;
}

mat-form-field {
    width: 100%;
}

.rotation {
    transform: rotateX(65deg) rotateZ(-35deg);
}

.title {
    color: gray;
}

.wrappers {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.save-button {
    background-color: #378C53;
    color: white;
}

.mat-fab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    width: 50px !important;
    background-color: #378C53;
}

.woosh-button {
    float: right;
    margin-bottom: 20px;
}

td {
    border: 1px solid #dee2e6;
    width: 50px;
    height: 50px;
}

.dimension-content {
    overflow-x: hidden;
}


mat-grid-tile {
    background: rgb(205, 205, 205);
}
.occupied{
	background-color: #378C5333;
}

.test{
    margin-top: 50px;
}
