<div ngClass="getCrops()" class="wrapper">
  <div class="chartGroupWrapper">
    <div class="chartWrapper">
      <h1 class="chartTitle">Temperature</h1>
      <canvas id="tempChart"></canvas>
    </div>

    <div class="chartWrapper">
      <h1 class="chartTitle">Soil Moisture</h1>
      <canvas id="humidityChart"></canvas>
    </div>
  </div>

  <div class="chartTableWrapper">
    <div class="chartWrapper">
      <h1 class="chartTitle">Air Humidity</h1>
      <canvas id="soilHumidityChart"></canvas>
    </div>
    <app-tabla></app-tabla>
  </div>
</div>
