<div id="right-sidepanel">
  <div class="panel-title">
    <div class="right-image">
      <i class="fa-solid fa-leaf"></i>
    </div>
    <p class="right-text">{{ binTitle }}</p>
    <button mat-icon-button (click)="openEditBin()">
      <mat-icon id="edit">edit</mat-icon>
    </button>
  </div>

  <div class="sensors-outer" *ngIf="awaitFetch">
    <div class="sensorTitleWrapper">
      <p class="sensors-title">Sensors</p>
    </div>
    <div class="sensors">
      <div class="card-outer card-properties">
        <div class="icon-outer">
          <i class="fa-solid fa-droplet icon-properties"></i>
        </div>

        <div class="text-percentage">{{ wsResponse.moisture }}%</div>
        <div class="text-name">Soil Moisture</div>
      </div>

      <div class="card-outer card-properties">
        <div class="icon-outer">
          <i class="fa-solid fa-temperature-half icon-properties"></i>
        </div>

        <div class="text-percentage">{{ wsResponse.temperature }}°C</div>
        <div class="text-name">Temperature</div>
      </div>

      <div class="card-outer card-properties">
        <div class="icon-outer">
          <i class="fa-solid fa-wind icon-properties"></i>
        </div>

        <div class="text-percentage">{{ wsResponse.humidity }}%</div>
        <div class="text-name">Air Humidity</div>
      </div>

      <div class="card-outer card-properties">
        <div class="icon-outer">
          <i class="fa-solid fa-cloud-showers-heavy icon-properties"></i>
        </div>

        <div class="text-percentage">{{ wsResponse.precipitation }}%</div>
        <div class="text-name">Precipitation</div>
      </div>
    </div>

    <div class="sensor-state-wrapper">
      <p class="sensors-state">Latest Status</p>
      <p class="sensors-state-info">{{ wsResponse.time | date: "medium" }}</p>
    </div>
  </div>

  <div class="logWrapper">
    <div class="divLog" id="style1" *ngFor="let notification of notifications">
      <div class="log-data-outer">
        <div
          ngClass="{{ notification.type | outline }}"
          class="data-text log-text"
        >
          {{ notification.message }}
        </div>
        <div
          class="data-status status-green"
          ngClass="{{ notification.type | color }}"
        >
          <div class="data-icon">
            <i class="fa-solid" ngClass="{{ notification.type | icon }}"></i>
          </div>
          <div class="data-time">
            {{ notification.time | date: "shortTime" }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-logs">
    <span class="more-logs-link" (click)="openLogsDialog()">More logs...</span>
  </div>

  <div class="button-wrapper">
    <button
      class="bin-dimensions-button"
      mat-flat-button
      (click)="openBinDimensionDialog()"
    >
      Bin dimensions
    </button>
  </div>

  <div class="button-wrapper">
    <button class="stop-button" mat-flat-button (click)="sendMsg()">
      stop
    </button>
  </div>
</div>
