<mat-sidenav-container class="sidenav">
  <mat-sidenav mode="side" opened></mat-sidenav>
  <mat-sidenav-content></mat-sidenav-content>
  <mat-sidenav-content class="menu">
    <img class="logo" src="./../../../assets/logo.png" alt="" />
    <div *ngFor="let bin of bins" class="bins">
      <mat-icon
        (click)="setSelected(bin.id)"
        [ngClass]="{ selected: selectedId == bin.id }"
        >dashboard</mat-icon
      >
    </div>
    <mat-icon class="add">add</mat-icon>
  </mat-sidenav-content>
</mat-sidenav-container>
