<div class="title" mat-dialog-title>Add a new Crop</div>
<div mat-dialog-content>
    <form [formGroup]="cropForm">
        
        <mat-selection-list #crops [multiple]="false">
            <mat-list-option *ngFor="let item of cropsArray" [value]="item.id" (click)="saveSelectedCrop(item.id)">
              {{item.name}}
            </mat-list-option>
        </mat-selection-list>
        
        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input  formControlName="quantity" matInput placeholder="Name">
        </mat-form-field>
    </form>
</div>

<div class="action-buttons" mat-dialog-action [align]="'end'">
    <button mat-flat-button style="margin-right:10px" class="save-button" (click)="addCrop()">{{actionButton}}</button>
    <button mat-flat-button color="warn" mat-dialog-close>Close</button>
</div>
