<div class="title" mat-dialog-title>{{dialogTitle}}</div>
<div class="dialog" mat-dialog-content>
    <form [formGroup]="cropForm">

        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input formControlName="quantity" matInput placeholder="Name">
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="show">
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option class="option" *ngFor="let item of cropsArray" value="item.id" (click)="saveSelectedCrop(item.id)">
                <div class="list">
                    <div class="list__photo">
                        <img src="{{item.photo}}" alt="cropImage"> 
                    </div>
                    <div class="list__wrapper">{{item.name}}</div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
    </form>
</div>

<div class="action-buttons" mat-dialog-action [align]="'end'">
    <button mat-flat-button style="margin-right:10px" class="save-button" (click)="addCrop()">{{actionButton}}</button>
    <button mat-flat-button color="warn" mat-dialog-close>Close</button>
</div>
