<div class="title" mat-dialog-title>{{dialogTitle}}</div>
<div class="dialog" mat-dialog-content>
    <form [formGroup]="binEditForm">

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" [(ngModel)]="cropObject.name" matInput placeholder="Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" [(ngModel)]="cropObject.description" placeholder="Description" matInput></textarea>
        </mat-form-field>
    </form>
</div>

<div class="action-buttons" mat-dialog-action [align]="'end'">
    <button mat-flat-button style="margin-right: 10px" class="save-button" (click)="editCrop()">Save</button>
    <button mat-flat-button color="warn" mat-dialog-close>Close</button>
</div>
